<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh Railway Fare List</title>

    <meta property='og:title' content='Bangladesh Railway Fare List'>
    <meta property='og:image'
        content='https://raw.githubusercontent.com/nishatrhythm/Bangladesh-Railway-Fare-List/main/images/link_share_image.png'>
    <meta property='og:description'
        content='Explore the complete fare list for Bangladesh Railway to plan your journey efficiently.'>
    <meta property='og:url' content='https://bdrailway.vercel.app'>
    <meta property='og:image:width' content='4800'>
    <meta property='og:image:height' content='2520'>

    <meta name="author" content="Nishat Mahmud">
    <meta name="publish_date" content="2024-11-11" scheme="YYYY-MM-DD">
    <meta name="keywords" content="Bangladesh Railway, train fares, travel, transportation, railway schedule">
    <meta name="description" content="Get the most updated fare list and schedule for Bangladesh Railway to plan your journey easily.">

    <link rel="icon"
        href="https://raw.githubusercontent.com/nishatrhythm/Bangladesh-Railway-Fare-List/main/images/bangladesh-railway.png"
        type="image/x-icon" sizes="30x30">

    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script>
        function swapStations() {
            const originInput = document.getElementById('origin');
            const destinationInput = document.getElementById('destination');

            if (originInput && destinationInput) {
                const tempValue = originInput.value;
                originInput.value = destinationInput.value;
                destinationInput.value = tempValue;
            }
        }

        function validateForm() {
            document.querySelectorAll('.error-message').forEach(error => error.remove());

            let isValid = true;

            const origin = document.getElementById('origin');
            if (origin.value.trim() === "") {
                showError(origin, "Please select an origin station.");
                isValid = false;
            }

            const destination = document.getElementById('destination');
            if (destination.value.trim() === "") {
                showError(destination, "Please select a destination station.");
                isValid = false;
            }

            if (isValid) {
                document.getElementById('loader').style.display = 'block'; // Show the loader
                document.getElementById('content').classList.add('hidden'); // Hide content
            }

            return isValid;
        }

        function showError(inputElement, message) {
            const error = document.createElement('div');
            error.className = 'error-message';
            error.innerText = message;
            inputElement.parentNode.appendChild(error);
        }

        function filterDropdown(inputId, dropdownId) {
            const input = document.getElementById(inputId);
            const filter = input.value.toLowerCase();
            const dropdown = document.getElementById(dropdownId);
            const options = dropdown.getElementsByTagName('div');

            dropdown.style.display = filter ? "block" : "none";

            for (let i = 0; i < options.length; i++) {
                const textValue = options[i].textContent || options[i].innerText;
                options[i].style.display = textValue.toLowerCase().includes(filter) ? "" : "none";
            }
        }

        function selectOption(inputId, dropdownId, value) {
            document.getElementById(inputId).value = value;
            document.getElementById(dropdownId).style.display = "none";
        }

        function hideErrorMessage(inputId) {
            const inputElement = document.getElementById(inputId);
            const errorMessage = inputElement.parentNode.querySelector('.error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>
            <img src="https://raw.githubusercontent.com/nishatrhythm/Bangladesh-Railway-Fare-List/main/images/bangladesh-railway.png"
                alt="Bangladesh Railway Logo" class="railway-icon">
            Bangladesh Railway Fare List
        </h1>
        <form method="POST" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="form-element">
                    <label for="origin">Origin Station</label>
                    <input type="text" id="origin" name="origin" onkeyup="filterDropdown('origin', 'originDropdown')"
                        oninput="hideErrorMessage('origin')" placeholder="Type or select an origin station"
                        value="{{ selected_origin if selected_origin else '' }}" autocomplete="off">
                    <div id="originDropdown" class="custom-dropdown">
                        {% for station in stations %}
                        <div onclick="selectOption('origin', 'originDropdown', '{{ station }}')">{{ station }}</div>
                        {% endfor %}
                    </div>
                </div>

                <!-- Swap Icon -->
                <div class="swap-icon" onclick="swapStations()" title="Swap stations">
                    <i class="fas fa-exchange-alt"></i>
                </div>

                <div class="form-element">
                    <label for="destination">Destination Station</label>
                    <input type="text" id="destination" name="destination"
                        onkeyup="filterDropdown('destination', 'destinationDropdown')"
                        oninput="hideErrorMessage('destination')" placeholder="Type or select a destination station"
                        value="{{ selected_destination if selected_destination else '' }}" autocomplete="off">
                    <div id="destinationDropdown" class="custom-dropdown">
                        {% for station in stations %}
                        <div onclick="selectOption('destination', 'destinationDropdown', '{{ station }}')">{{ station }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn-search">Search</button>
        </form>

        <!-- Loader -->
        <div id="loader" class="loader" style="display: none;"></div>

        <!-- Content to hide when the loader is active -->
        <div id="content">
            <!-- Display the error message if present -->
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}

            {% if results %}
            <h2 class="fare-list-heading">
                Fare List for<br>
                <span class="highlight-station">{{ results.origin }}</span> to <span class="highlight-station">{{
                    results.destination }}</span>
            </h2>

            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Seat Type</th>
                            <th>Base Fare (BDT)</th>
                            <th>VAT (15%) (BDT)</th>
                            <th>Total Fare (BDT)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for info in results.data['info'] %}
                        <tr>
                            <td>{{ info['type'] }}</td>
                            <td>{{ "%.2f" | format(info['fare']) }}</td>
                            <td>{{ "%.2f" | format(info['vat_amount']) }}</td>
                            <td>{{ "%.2f" | format(info['fare'] + info['vat_amount']) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p class="note">
                <span class="note-bold">Note:</span> An extra <span class="highlight">BDT 20</span> online payment
                charge applies. Total fare includes <span class="highlight">BDT 50</span> bedding charges per seat for
                <span class="note-bold">AC_B</span> and <span class="note-bold">F_BERTH</span> seat classes.
            </p>
            {% endif %}
        </div>
        <!-- Footer -->
        <footer class="footer">
            <p>This project is open source. Check it out on <a
                    href="https://github.com/nishatrhythm/Bangladesh-Railway-Fare-List" target="_blank">GitHub</a>.</p>
        </footer>
    </div>
</body>

</html>